.resultList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.resultList img {
    width: 150px;
    margin: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.resultList img:hover {
    transform: scale(1.1);
}
.notfound{
    color: #fff;
}